@{
  Layout = "_Layout";
}
@model URegistrar.Models.Student
@using URegistrar.Models

<h2> Student Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.StudentName): @Html.DisplayFor(model => model.StudentName)</h3>

@if(@Model.Enrollments.Count == 0)
{
  <p>This student is not enrolled in any courses yet!</p>
}
else
{
  <h4>This student is enrolled in the following courses:</h4>
  <ul>
    @foreach(Enrollment join in Model.Enrollments)
    { 
      <li>Course: @join.CourseId</li>
      @using (Html.BeginForm("DeleteJoin", "Courses"))
      {
        @Html.Hidden("joinId", @join.CourseId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to Student Index", "Index")</p>
<p>@Html.ActionLink("Edit Student", "Edit", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Delete Student", "Delete", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Go to Courses", "Index", "Courses")</p>